html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

#map-container {
  width: 100%;
  height: 500px;

  /* 스크린 화면에 지도 콱차게 하기
   https://stackoverflow.com/questions/60516479/how-to-fit-map-to-full-screen
  */
  /*border: 2px solid red;*/
  /*flex: 1;*/
  /*height: 100% !important;*/
}

.ol-panel {
  position: absolute;
  background-color: white;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  top: 8px;
  /*left: 8px;*/
  right: 8px;
  min-width: 100px;
}
