html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.map {
  width: 100%;
  height: 400px;
}


/* Set the maxmimum height of the layerswitcher when it's shown */
/* max-height 를 않하면  siwtcher 패널이 레이어 만큼 늘어난다. */
.layer-switcher.shown {
  max-height: 170px;
}
